@import "../../global.scss";

.main-s {
  position: absolute;
  width: 92vw;
  margin: 0;
  padding: 30px;

  .strat-card {
    width: 300px;
    height: 250px;
    margin: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;

    .in-btn {
      position: absolute;
      margin-bottom: 10px;
      bottom: 0;
    }
  }

  .stratergy {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

    .strat-card {
      width: 300px;
      height: 250px;
      margin: 10px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      position: relative;

      .in-btn {
        background-color: $mainColor;
        color: $alternateColor;
        position: absolute;
        margin: 10px;
        bottom: 0;

        &:hover {
          background-color: $alternateColor;
          color: white;
        }
      }

      .stop {
        margin: 10px;
        right: 0;
      }
    }

    .disabled {
      opacity: 0.2;
    }

    .backdrop {
      width: 500px;
    }
  }
}
