@import "../../global.scss";

.right {
  .login-btn {
    background-color: $mainColor;
    color: $alternateColor;
  }

  .login-btn:hover {
    background-color: $alternateColor;
    color: white;
  }

  .register-btn {
    border-color: $alternateColor;
    color: $alternateColor;
  }

  .register-btn:hover {
    background-color: rgba(114, 88, 223, 0.1);
    border-color: $alternateColor;
  }

  .lightmode-btn {
    border-color: #f9d71c;
    color: #f9d71c;
  }

  .lightmode-btn:hover {
    background-color: rgba(249, 215, 28, 0.1);
    border-color: #f9d71c;
  }
}
