@import "../../global.scss";

.footer {
  display: flex;
  justify-content: space-between;

  .left {
    width: 60vw;
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0;
      margin-left: 20px;
    }

    p {
      margin: 0;
      margin-left: 20px;
    }

    .legal {
      margin-left: 20px;
      margin-bottom: 15px;
      display: flex;
      position: absolute;
      bottom: 0;
      font-size: 12px;

      a {
        text-decoration: underline dotted;
        opacity: 0.5;
        color: $alternateColor;
      }

      p {
        margin: 0;
        margin-left: 10px;
        opacity: 0.5;
      }
    }
  }

  .right {
    display: flex;

    border-left: 5px $alternateColor;

    .phone,
    .email,
    .address {
      margin: 5px;
      padding: 5px;
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
        margin-left: 10px;
        color: black;
      }
    }
  }
}
