@import "../../global.scss";

.main-register {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .box {
    position: absolute;
    left: 31%;
    top: 120px;
    background-color: white;
    width: 35vw;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;

    .head {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .field {
      margin: 5px;
    }

    .error {
      color: red;
      position: absolute;
      right: 2%;
    }

    .success {
      color: rgb(119, 193, 10);
      position: absolute;
      right: 2%;
    }

    .submit-button {
      width: 25%;
      margin: 20px;
      background-color: $alternateColor;
      align-self: center;
    }
  }
}
