@import "../../global.scss";

.main-register {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .box {
    position: absolute;
    left: 31%;
    top: 20%;
    background-color: white;
    width: 35vw;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;

    .head {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .page1 {
      display: flex;
      flex-direction: column;
      margin: 10px;

      .field {
        margin: 5px;
      }

      .email {
        display: flex;
        align-items: center;
        position: relative;

        .mail {
          width: 100%;
        }
      }

      .c_pass {
        display: flex;
        align-items: center;
        position: relative;

        .cp {
          width: 100%;
        }
      }

      .error {
        color: red;
        position: absolute;
        right: 2%;
      }

      .success {
        color: rgb(119, 193, 10);
        position: absolute;
        right: 2%;
      }

      .submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .submit-button {
          width: 25%;
          margin: 20px;
          background-color: $alternateColor;
        }
        .register-text {
          text-align: center;
          text-decoration: none;
        }
      }
    }

    .page2 {
      display: flex;
      flex-direction: column;
      .demat {
        width: 50%;
        margin: 20px;
        align-self: center;
      }
      .demat-text {
        font-size: 30px;
        text-align: center;
        margin: 10px;
      }
    }

    .submit-button {
      width: 25%;
      margin: 20px;
      background-color: $alternateColor;
      align-self: center;
    }
  }
}
